<footer class="footer">
  <div class="footer-background-band">
    <div class="footer-content">
      <p>
        <%- contact.donations %>
      </p>
      <p>
        <%- contact.socials.title %>
        <a href="<%= socials.fb %>">Facebook</a> /
        <a href="<%= socials.ig %>">Instagram</a> /
        <a href="<%= socials.yt %>">Youtube</a>
      </p>
      <p>
        <%- contact.email %>
      <p>
        <%- footer.main %>
      </p>
      <p style="font-size: 0.8em;">
        <%- footer.sub_text %>
      </p>
    </div>
  </div>
</footer>
